.app-wrapper-content {
  padding: 5px;
  grid-area: c;
  background-color: deepskyblue;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "h h" "n c";
  gap: 10px;
}

.b1 {
  border: 1px solid black;
  background-color: #57a152;
}
.bgc-b {
  background-color: deepskyblue;
}